body {
  background-color: #f6f6f6;
  margin: 0;
}

header {
  background-color: #1a1a1d;
  padding: 0 25px;
  border-bottom: 3px solid #3438f5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

header img {
  float: left;
  margin: 23px 10px 0 0;
  width: 35px;
  height: 35px;
}

header h1 {
  display: inline-block;
  margin-top: 23px;
  font: bold 30px Futura, Arial;
  color: #ffffff;
}

header p {
  float: right;
  font: bolder 18px Futura, Arial;
  color: #ffffff;
  margin-top: 22px;
  padding: 7px;
  width: auto;
}

header button {
  margin-top: 25px;
  float: right;
  margin-right: 35px;
  width: 200px;
}


#searchContainer {
  text-align: center;
  padding: 20px;
}

#searchMovie {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-style: none;
  border: 1px solid #919191;
  padding: 10px;
  width: 300px;
  margin: 0;
  font-size: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

#searchMovie:focus {
  outline-style: none;
}

#searchButton {
  height: 37px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: none;
  background-color: #3438f5;
  padding: 0;
  width: 40px;
  margin: 0;
  margin-left: -5px;
  color: white;
  font-size: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

#searchButton:hover {
  cursor: pointer;
  background-color: #181bd0;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block; 
  margin: 0 auto; 
}

#contentContainer {
  display: flex;
}

#movieList {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

#movieListContainer {
  flex: 1;
  padding: 20px;
}

#movieInfoContainer {
  flex: 2;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#movieInfo {
  max-width: 650px;
}

#movieInfo img {
  display: block; 
  margin: 0 auto 15px; 
  
}




